
#about {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}
#info {
  width: 30%;
  font-family: 'IM Fell Double Pica', serif;
}
#info h1 {
  color: burlywood;
  text-align: center;
}
#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bio h1 {
  color: burlywood;
}

img {
  height: 40%;
  width: 40%;
}
